.Horario {
    color: white;
    text-shadow: 2px 2px 2px black;
    background-color: #e0a800;
    font-family: forte;
    font-size: 36px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
}
.tabela {
    margin-top: 2%;
}